.row2 {
  margin-bottom: 10px;
}
.grey {
  color: #6e6b6b;
  font-size: 20px;
  display: ruby-text;
}
.green {
  color: #1d5517;
  font-size: 20px;
  display: ruby-text;
}
.red {
  color: #8b270e;
  font-size: 20px;
  display: ruby-text;
}
.yellow {
  color: #c3ae12;
  font-size: 20px;
  display: ruby-text;
}
.dataOverlayAlert {
    font-size: 12px;
    color: #fff;

    .modalwidth80 {
        max-width: 80vw; /* Imposta la larghezza massima al 80% della larghezza della viewport */
        width: 80%; /* Imposta la larghezza al 80% */        
    }
    .modalTitle {
      color: #fff;
    }

    .head {
      border-bottom: 1px solid;
      padding-bottom: 10px;
      font-size: 16px;
    }
  
    .infos {
      margin: 0% 0% 1% 0%;
      padding: 1% 1% 2% 1%;
      border: 1px solid;
      font-size: 14px;
  
      span {
        float: left;
        margin-right: 2%;
  
        &.orange {
          color: #e77512;
          margin-right: 0;
        }
      }
  
      table td {
        width: auto !important;
        padding: 5px !important;
      }
    }
  
    table {
      width: 100%;
      word-break: break-word;

      td {
        width: 49%;
        border: 1px solid #ddd;
        padding: 1%;
        word-break: break-word;

  
        .overflow {
          max-height: 275px;
          overflow: scroll;
          min-height: 275px;
        }
  
        pre {
          width: 800px;
        }
      }
  
      tr:nth-child(even) {
        background-color: #333333;
      }
    }
}
.tableList {
  word-break: break-word;
}

.bichecksquarefill {
  color: #114a0a;
  font-size: 26px;
}
.bixsquarefill {
  color: #cc2f10;
  font-size: 26px;
}
.bixexclamation {
  color: #eddb3e;
  font-size: 26px;
}
.testPromptAi {
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
  padding-bottom: 10px;
  h2 {
    font-size: 25px;
    color: #44ba14;
    margin-bottom: 10px;
    text-align: center;
  }  
}
.testPromptAiCalls {
  span {
    color: #fff;
    margin-right: 7px;
    display: block;
    float: left;
    width: auto;    
  }
}
.bichecksquare {
  color: #36c507;
}
.buttonsA {
  margin-top: 30px;
}
.resp {
  color: #fff;
  font-size: 20px;
}